#blog_name #site-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #1565c0;
    font-size: 1.2em;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: auto;
    transition: .5s;
    cursor: pointer;
    text-decoration: none
}

#blog_name #site-name label.lbl-d,#blog_name #site-name label:first-child {
    cursor: pointer;
    display: inline-block
}

#blog_name #site-name span {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px);
    /*font-size: .75em*/
}

#blog_name #site-name:hover span {
    transition: .5s ease-out;
    position: relative;
    transform: translateX(0);
    visibility: visible;
    opacity: 1
}

#blog_name #site-name:hover span:first-child {
    transition-delay: .1s
}

#blog_name #site-name:hover span:nth-child(2) {
    transition-delay: .2s
}

#blog_name #site-name:hover span:nth-child(3) {
    transition-delay: .3s
}

#blog_name #site-name:hover span:nth-child(4) {
    transition-delay: .4s
}

#blog_name #site-name:hover span:nth-child(5) {
    transition-delay: .5s
}

#blog_name #site-name:hover span:nth-child(6) {
    transition-delay: .6s
}

#blog_name #site-name:hover span:nth-child(7) {
    transition-delay: .7s
}

#blog_name #site-name:hover span:nth-child(8) {
    transition-delay: .8s
}

#blog_name #site-name:hover span:nth-child(9) {
    transition-delay: .9s
}

#blog_name #site-name:hover span:nth-child(10) {
    transition-delay: 1s
}
#tag #tag-page-tags {
    display: flex;
    flex-flow: row wrap;
    margin: 0px -0.75rem 1rem;
}
